.TodoItem {
    &.done {
        color: #999999;
        text-decoration: line-through;
    }

    .text {
        cursor: pointer;
    }

    .remove {
        cursor: pointer;
        color: red;
        margin-left: 10px;
    }
}
